@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

h1 {
  font-family: "Poppins", sans-serif;
}
/* background modified color  */
.bg-info {
  background-color: #264653;
}
/* purchase button color */
.purchase-btn-primary {
  background-color: #e76f51;
}
/* black and white */
.grayscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

/* star design */
.fa-star.filled {
  color: #e77c40;
}
.text-white{
  font-weight: 300;
  color: #E0E0E0;;

}
.top{
  color: #FFFFFF; 
}